/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom,
              rgba(50, 25, 40, 0.7) 0%,
              rgba(0, 0, 0, 0.9) 100%);
  }
  
  /* Estilos para o container principal */
  .container {
    background-color: #2f3640;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 50%;
  }
  
  /* Estilos para títulos (h1) */
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2196F3;
  }
  
  /* Estilos para o grupo de entrada */
  .input-group {
    margin-bottom: 10px;
    border-style: none;
    background-color: #2f3640;
    color: #06b497;
  }
  
  #baseOrigem {
    color: rgb(236, 236, 236);
    font-weight: bold;
  }

  #baseOrigem:hover option {
    color: black; /* Altere para a cor desejada para as opções */
    background-color: rgb(202, 201, 201);
  }


  #baseDestino{
    color: rgb(236, 236, 236);
    font-weight: bold;
  }

  #baseDestino:hover option{
    color: black;
    background-color: rgb(202, 201, 201);
  }
  
  /* Estilos para rótulos */
  label {
    font-weight: bold;
  }
  
  /* Estilos para selects e inputs */
  select,
  input {
    width: 100%;
    padding: 8px;
    border: 2px solid #3498db;
    border-radius: 4px;
    background: none;
    display: block;
    outline: none;
    color: rgb(255, 255, 255);
  }

  select:hover,
  input:hover {
    border: 2px solid;
    border-color: #06b497;
  }
  
  /* Estilizando o texto do input no placeholder */
  #numero {
    color: #fffdfd;
    font-weight: bold;
    width: 95.5%;
    background-color: transparent;

  }

  /* Estilizando o texto do input no placeholder */

  #numero::placeholder {
    color: rgb(236, 236, 236);
  }
  
  /* Estilos para botões */
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos para botões no hover */
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para o elemento com id "resultado" */
  #resultado {
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
    color: #966bfc;

  }
  
 